body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 1000px;
    padding-top: 100px;
    padding-left: 500px;
    background-color: rgb(189, 244, 244);
}